
.layoutWrapper {
  border: 1px solid#f4f4f4;
  box-sizing: border-box;
  background-color: #ffffff;
  .layout {
    background-color: #ffffff;
  }

  .header {
    background: #ffffff;
    border-bottom: 1px solid#f4f4f4;
    padding-left: 20px;
  }
}

