.labelField {
  display: inline;
  line-height: 32px;
  .title {
    padding-left: 10px;
  }
}

.filedValue {
  padding-left: 10px;
  color: #2b8ebda6;
  line-height: 32px;
  .state {
    padding-left: 10px;
    color: aqua;
  }
}
